/* @font-face {
font-family: 'Calibre Regular';
font-style: normal;
font-weight: normal;
src: local('assets/fonts/Calibre Regular'), url('assets/fonts/CalibreRegular.woff') format('woff');
} */

@font-face {font-family: "Basis Grotesque"; src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot"); src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff") format("woff"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.svg#Basis Grotesque") format("svg"); }

body {
  width: 70%;
  margin: 5% auto 5% auto;
  font-family: 'Basis Grotesque', sans-serif;
}

h1{
  font-family: 'Spectral', serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 0.9;
}

h2{
  font-family: 'Spectral', serif;
  font-weight: 800;
  font-size: 20px;
  margin-top: 4%;
}

h3{
  font-family: 'Spectral', serif;
  font-weight: 800;
  font-size: 16px;
  margin-top: 8%;
  text-align: right;
}

p{
  font-size: 13px;
  margin-top: 2%;
  line-height: 1.8;
}

hr{
  margin-bottom: 5%;
}

/* TITLE CSS*/
#title{
  text-align: left;
}

.subtitle{
  font-size: 18px;
}

#more_info{
  margin-top: 7%;
}

.info_p{
  margin-top: 2%;
  color: #6c757d;
}

.bold{
  font-family: 'Spectral', serif;
  font-size: 14px;
  color: #333;
}

/* TABLE CSS*/
#total_table_length {
  margin-bottom: 2%;
}

.dataTables_length select {
    font-size: 12px;
    height: 35px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type=search]{
  border: 1px #dee2e6;
  padding: 10px;
  border-radius: 5px;
  background: #F8F8F8;
  font-size: 12px;
}

/* Filter Category Buttons */
#select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8% 0 1% 0;
}

#allButtons{
  width: 75%;
}

.btn{
  font-family: 'Spectral';
  font-size: 14px;
  margin: 0px 3px 6px 0px;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  background-color: #ced4da;
  color: #495057;
}

.btn:active, .btn.active{
  background-color: #495057;
  color: #FFF;
}

.btn:focus, .btn.focus{
  background-color: #495057;
  color: #FFF;
  box-shadow: none;
}

/* Search Bar */
.form-control{
  width: 80%;
  float:right;
  height: auto;
  padding: 0.3rem 0.6rem;
  margin: 0px 3px 6px 0px;
  font-family: 'Spectral';
  font-size: 14px;
}

/* Top & Bottom of Table:Show Entry, Search, Next */
label{
  font-size: 12px;
  font-family: 'Spectral';
  font-weight: 400;
}

.table_filter{
  display: none;
  /* display: flex;
  flex-direction: row;
  float: right; */
}

.dataTables_filter{
  display: none;
}

.dataTables_length{
  display: none;
  margin: 0 10px 0px 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: linear-gradient(to bottom, #dcdcdc 100%, #dcdcdc 100%);
}

.table_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Spectral';
  font-weight: 400;
  font-size: 12px;
  margin-top: 3%;
}

/* Table Header for Each Item */
.dtr-title{
  font-family: 'Spectral';
  font-size: 12px;
}

table.dataTable th{
  text-align: left;
  font-size: 12px;
  font-family: 'Spectral';
}

table.dataTable tr{
  height: 60px;
}

table.dataTable tbody td{
  font-family: 'Basis Grotesque';
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  /* margin-right: 10px; */
  /* line-height: 18px; */
}

table.dataTable td::before {
  margin-top: 8px;
}

/* DIFFERENT TABLES */
#harass{display: none}
#violence{display: none}
#gender{display: none}
#retaliation{display: none}
#admissions{display: none}
#athletics{display: none}
#benefits{display: none}
#dissemination{display: none}
#procedural{display: none}
#others{display: none}
